* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Larsseit', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Larsseit';
  src: url('fonts/Larsseit-ExtraBold.woff2') format('woff2'),
    url('fonts/Larsseit-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('fonts/Larsseit-Bold.woff2') format('woff2'),
    url('fonts/Larsseit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('fonts/Larsseit.woff2') format('woff2'),
    url('fonts/Larsseit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('fonts/Larsseit-Medium.woff2') format('woff2'),
    url('fonts/Larsseit-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('fonts/Larsseit-Light.woff2') format('woff2'),
    url('fonts/Larsseit-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('fonts/Larsseit-Thin.woff2') format('woff2'),
    url('fonts/Larsseit-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@media only screen and (max-width: 880px) {}